#portfolio {
  margin-top: 500px;
  margin-bottom: 100px;
}

#portfolio-container, #portfolio h3 {
  display: flex;
  justify-content: center;
}

#portfolio h3 {
  margin-bottom: 45px;
}

.view-modal {
  display: flex;
  align-items: center;
  margin: 0 45px;
}

.overview, .overview-modal {
  display: flex;
  flex-direction: row;
}

.overview {
  margin-left: 45px;
}

.overview img, .overview-modal img {
  box-shadow: 1px 1px 5px -3.5px black;
  border-radius: 15px;
  margin-right: 20px;
}

div h4, .overview-title-snippet p, .title-snippet p, div h2 {
  margin: auto;
}

.overview-title-snippet p, .title-snippet p {
  color: #768390;
  word-break: normal;
  white-space: normal;
}

.title-snippet p {
  width: 240px;
  word-break: normal;
  white-space: normal;
}

.tech-stack {
  margin-right: 20px;
}

.tech-container {
  display: inline-flex;
  border: 1px solid rgba(173, 186, 199, 0.286);
  border-radius: 8px;
  margin: 0 8px 20px 0;
  padding: 0 10px;
  font-size: 14px;
}

.tech-container p {
  margin: 5px;
}

.view-btn {
  border-radius: 20px;
  background-color: #363f47;
  border: 1px solid #363f47;
  color: #adbac7;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 13px;
}

.view-btn:hover, .exit-modal-btn:hover, .github:hover, .live-link:hover {
  background-color: #444f5a;
}

.exit-modal-btn {
  float: right;
  margin: 0 auto;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #363f47;
  border: 1px solid #363f47;
  color: #adbac7;
  font-weight: bold;
  font-size: 14px;
}

.tech-used {
  margin-top: 17px;
}

.gh-ll-btns {
  margin-right: 16px;
}

.github, .live-link {
  float: right;
  margin-right: 10px;
  background-color: #363f47;
  border: 1px solid #363f47;
  color: #adbac7;
  font-weight: bold;
  border-radius: 20px;
  font-size: 14px;
  padding: 5px 13px;
}

.github a, .live-link a {
  text-decoration: none;
  color: #adbac7;
}

.project-gallery {
  max-width: 100%;
  position: relative;
  margin: auto;
  overflow-x: auto;
  width: 100%;
}

.slideshow-images {
  display: inline-flex;
  justify-content: center;
  background-color: #2b313a;
  border-radius: 18px;
  padding: 30px;
  margin-right: 20px;
}

.slideshow-images img {
  border-radius: 7px;
}

.description {
  margin-top: 20px;
}

.slideshow-images {
  animation-duration: 1.5s;
}