#portfolio {
  margin-bottom: 400px;
  padding-top: 150px;
}

#portfolio-container {
  display: flex;
  justify-content: center;
}

#portfolio h3 {
  margin-bottom: 30px;
}

.view-modal {
  display: flex;
  align-items: center;
  margin: 0 45px;
}

.overview, .overview-modal {
  display: flex;
  flex-direction: row;
}

.overview {
  margin-left: 45px; 
}

.overview img, .overview-modal img {
  border-radius: 15px;
  margin-right: 20px;
}

.title-snippet h4, .overview-title-snippet h2 {
  color: #cdd9e5;
  font-weight: bold;
}

.title-snippet h4 {
  margin-top: 8px;
  font-size: 17px;
}

div h4, .overview-title-snippet p, .title-snippet p, div h2 {
  margin: auto;
}

.overview-title-snippet p, .title-snippet p {
  color: #768390;
  word-break: normal;
  white-space: normal;
}

.title-snippet p {
  width: 235px;
  word-break: normal;
  white-space: normal;
}

.tech-stack {
  margin-right: 20px;
}

.tech-container {
  display: inline-flex;
  border: 1px solid rgba(173, 186, 199, 0.286);
  border-radius: 8px;
  margin: 0 8px 20px 0;
  padding: 0 10px;
  font-size: 14px;
}

.tech-container:hover {
  border: 1px solid rgba(180, 193, 206, 0.699);
}

.tech-container p {
  margin: 5px;
}

.view-btn {
  font-size: 14px;
  padding: 3px 13px;
}

.exit-modal-btn {
  float: right;
  margin: auto;
  height: 30px;
  width: 30px;
  font-size: 14px;
}

.tech-used {
  margin-top: 17px;
}

.gh-ll-btns {
  margin-right: 16px;
}

.github, .live-link {
  float: right;
  margin-right: 10px;
  font-size: 14px;
  padding: 4px 13px;
}

.github a, .live-link a {
  text-decoration: none;
  color: #adbac7;
}

.project-gallery {
  max-width: 100%;
  position: relative;
  margin: auto;
  overflow-x: auto;
  width: 100%;
  animation-duration: 2s;
}

.slideshow-images {
  display: inline-flex;
  justify-content: center;
  background-color: #2b313a;
  border-radius: 18px;
  padding: 30px;
  margin-right: 20px;
}

.slideshow-images img {
  border-radius: 8px;
}

.description {
  margin-top: 20px;
}