#skills {
  padding-top: 90px;
  
}

#skills h3 {
  margin-top: 100px;
  margin-bottom: 30px;
}

#skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#skills-container i {
  font-size: 65px;
  margin: 10px;
}

#skills-container p:hover {
  border: 1px solid rgba(180, 193, 206, 0.699);
}