#contact-links {
  display: flex;
  justify-content: center;
}

#by-line {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #cdd9e5;
}

#contact-links a {
  padding: 0 0 20px 0;
}

.fab, .fas {
  font-size: 35px;
  margin: 0 20px;
  color: #97a2ad;
}

.fab:hover, .fas:hover {
  transition-duration: 0.3s;
  color: #cdd9e5;
}