#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: relative;
  padding: 100px;
  margin-top: 250px;
  width: 60%;
  background-color:white;
  white-space: nowrap;
  overflow: inherit;
  border-radius: 10px;
}