html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #22272e;
  color: #adbac7;
}

/* code { */
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  /* font-family: 'Open Sans'; */
/* } */

hr {
  color: #adbac7;
  opacity: 0.08;
  margin-top: 20px;
}

button:hover {
  transition-duration: 0.3s;
}