#about-me {
  padding-top: 110px;
  margin: 0 200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
}

#contact-links {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#portrait {
  padding: 20px;
  display: flex;
  justify-content: center;
}

#portrait img {
  border-radius: 25px;
  width: 240px;
}

#portrait-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#portrait-links hr {
  margin: 0;
}

#contact-links a {
  padding: 10px 0;
}

.fab, .fas {
  font-size: 2.3vw;
  margin: 0 15px;
  color: #97a2ad;
}

.fab:hover, .fas:hover {
  transition-duration: 0.3s;
  color: #cdd9e5;
}

#introduction {
  margin: 23px 0 0 23px;
  font-size: 19px;
}

#bio {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 100vw;
  max-height: 295px;
}

#bio p {
  margin-top: 6px;
  overflow-y: scroll;
}

@media screen and (max-width: 1020px) and (min-width: 701px) {
  #about-me {
    display: flex;
    flex-direction: column;
    margin: 0 17vw;
  }

  .fab, .fas {
    font-size: 3vw;
  }
}

@media screen and (max-width: 700px) {
  #about-me {
    display: flex;
    flex-direction: column;
    margin: 0 10vw;
  }

  .fab, .fas {
    font-size: 5vw;
  }
}