#about-me {
  padding-top: 110px;
  margin: 0 250px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  height: 55vh;
}

#contact-links {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: #30383f;
  border-radius: 10px; */
}

#portrait {
  padding: 20px;
  /* background-color: #30383f;
  border-radius: 10px; */
}

#portrait img {
  border-radius: 25px;
}

#portrait-links hr {
  margin: 0;
}

#contact-links a {
  padding: 10px 0;
}

.fab, .fas {
  font-size: 25px;
  margin: 0 15px;
  color: #97a2ad;
}

.fab:hover, .fas:hover {
  transition-duration: 0.3s;
  color: #cdd9e5;
}

#introduction {
  margin: 35px 50px 40px;
}

#introduction p {
  font-size: 19px;
}

